
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    height: 100vh;
}

header {
    background-color: rgb(238, 234, 245);
    margin: auto;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 6px;
    align-items: center;
}

.header h4 {
    font-size: 20px;
    font-family: "Vollkorn", sans-serif;
    font-weight: bold;
    text-shadow: 2px 1px 0px rgba(152, 129, 192, 0.5) ;
}

.ul {
    display: flex;
    flex-direction: row;
    gap:60px;
    list-style: none;
}

a {
   text-decoration: none;
   transition: 0.5s;
}

a:link {
   color: rgb(245, 41, 136);/*lien non visité*/
}

a:visited {
   color: rgb(128, 26, 26);/*lien visité*/
}

a:hover {
   color: rgb(216, 24, 174);/*Au survol*/
}

a:active {
   color: rgb(247, 188, 188);/*au clic*/
   /*transform: scale(20);/*le lien rétrécit légèrement au clic*/
   display: inline-block;/*Nécessaire pour que transform fonctionne*/
}

.container {
    display: flex;
    margin: 12px;
    padding: 12px;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.imagesContainer {
    display: flex;
    flex-direction: column;
    margin: 6px 30px 6px 10px;
    border-radius:5%;
    border: 2px solid rgb(243, 240, 226);
    justify-content: center;
    align-items: center;
   box-shadow: 2px 2px 2px hsla(49, 41%, 79%, 0.5);
     width: 500px;
    
}

.imagesContainer:hover {
    cursor: pointer;
   
}


.imagesContainer img {
    width: 350px;
    height: 50%;
    object-fit: cover;
    margin-top: 10px;
}


.imagesContainer h1  {
    margin: 10px;
    font-family: "Montserrat", sans-serif;
}  

.imagesContainer p {
    margin-left: 10px;
    margin-bottom: 20px;
}
